<% provide(:title, 'Find a group for you') %>
<h1>Groups How to find a group</h1>

<p>
  
</p>

<%= will_paginate  %>


<div>

List of groups by location
 
 <% end %>
</div>

<%= will_paginate %>

Email your group name so others can find you. 
Do you have an interesting story or thing your soul care does?
Would to like to be featured on Share Soul Care to encourage others?
Write us, we'll love to hear from you. testimonies@sharesoulcare.org

<%= link_to 'Inspire', new_inspiration_path %>
