<% provide(:title, 'Groups') %>
<h1>Groups - How to start a group</h1>

<p>
 You really don't need Share Soul Care to start a soul care or house fellowship. 
 We provide resources to help move your group along, but you can start a soul care based on 
 <ul>
  <li>age group</li>
  <li>status group</li>
  <li>similar insterests/profession/skills or talent</li>
 </ul>
 It's great when something binds you together. That way you can support each other and grow 
 together.  
</p>

<div>
 
 <h2>Suggestions:</h2>
 <ul>
  <li>Meet physically at least once a month</li>
  <li>Communicate once a week</li>
  <li>Your physical meeting can be an outing to an event of interest</li>
  <li>Your discussion topic can be related to what's going on in your lives</li>
  <li>Try to make your group a support system and try to trust each other</li>
 </ul>
</div>


We can't think of everything, so we welcome suggestions.

<%= link_to 'Inspire', new_inspiration_path %>


<h1>Groups How to find a group</h1>

<p>
  
</p>

<div>

List of groups by location
 
</div>


Email your group name so others can find you. 
Do you have an interesting story or thing your soul care does?
Would to like to be featured on Share Soul Care to encourage others?
Write us, we'll love to hear from you. testimonies@sharesoulcare.org

<%= link_to 'Inspire', new_inspiration_path %>
