<% provide(:title, 'Guest') %>
<div class="jumbotron">
 <h1>Share Soul Care</h1>
 <h2>Guest Page</h2>
 <h2>Welcome to share soul care, a platform where you can build and find soul care groups</h2>
 <p>This is the guest home page for Share Soul Care</p>
 <%= link_to "Learn more", '#', class: "btn btn-large btn-primary" %>
</div>
