<% provide(:title, 'Inspirations - Prayers') %>
<h1>Inspirations - Prayers</h1>
<p>
 A selection of prayer points for many of life's situations.
 Don't know what to say in prayer? Use these prayer points as a conversation starter between you 
 and God. <%= link_to 'Add Prayer', new_prayer_path %>
</p>
<hr />
<div id="prayer-list">
  <ul class="list-unstyled">
   <% @prayers.each do |prayer| %>
   <li>
    <p class="lead"><%= link_to prayer.title, prayer %></p>
    <% if prayer.tag_list.present? %>
    <em>
     tagged in <%= raw prayer.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </em>
    <% end %>
   </li><hr />
   <% end %>
  </ul>
  <br />
  <%= link_to 'Add Prayer', new_prayer_path %>
</div>
