<% provide(:title, 'About - Overview') %>
<div>
<p>
 Share Soul Care is a platform focused on fostering the buiding and development of
  small fellowship groups.
 Fellowships are intimate; they can provide a lot of support for Christians on all 
 levels. Share Soul Care, provides resources and tools to build new fellowships, 
 and equip existing fellowships.
 </p>
 
 <p>
 We call fellowships groups Soul Care groups. You can build groups based on age,
 marital status, or general interests. The important thing is to be supported and 
 to lend support.
 </p>
 <p>
 If you're a Church administrator interested in running soul care at your local 
 Church, you can have members break up in to their soul care groups for 15 minutes
  before or after Church service. Soul Care members can discuss topics of interest
  and meet outside Church.
 </p>
 <p> 
  Meeting outside Church is one of the most important aspects of Soul Care. It 
  doesn't have to be a big occassion, it can be lunch, a night out at the movies,
  or a bike ride. Fellowship is the key.
 </p>
 <p> 
  Share Soul Care in focused on providing resources to make Soul Care great. 
  We'll provide discussion topics monthly. We'll also provide listing of faith-based
  events, activities, and helpful resources that are relevant.
  </p>
 <p> 
  We hope you enjoy Share Soul Care! 
</p>
</div>
